* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
    color: black;
    font-size: 14px;
}

/*carousel*/

.carousel-section {
    width: 100%;
}


/*showcase*/

.tab-panel{
    margin: 100px auto;
}

.social a i {
    color: #000;
}

.social a i {
    margin: 0 10px;
}
